* {
    margin: 0;
    padding: 0;
    font-family: "Vazirmatn", sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
    overflow-x: hidden;
}
.tagline {
    background-color: #032340;
    width: 100vw;
    height: 40px;
    color: #FFFFFF;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 108px;
}
.headerInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
}
.headerSearch {
    width: 638px;
    height: 48px;
    border-radius: 16px;
    border : solid 1px #CBCBCB;
    background-color: #F9F9F9;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 16px;
}
.headerSearch input {
    background-color: transparent;
    outline: none;
    border: none;
}
.logoInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 150px;
    height: 32px;
    cursor: pointer;
}
.loginContainer {
    width: 142px;
    height: 48px;
    display: flex;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.headerLeft {
    display: flex;
    gap: 16px
}
.loginButton {
    background-color: #FFFFFF;
    border: none;
    font-weight: 700;
    font-size: 16px;

}
button , li, svg {
    cursor: pointer;
}
.mainMenuBar {
    width: 100%;
    display: flex;
    background-color: #F9F9F9;
    border-radius: 16px;
    justify-content: space-between;
    padding: 16px;
}
.mainMenu {
    display: flex;
    list-style: none;
    gap: 40px;
}
.menuItems {
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.menuIcon {
    width: 18px;
    height: 18px;
}
.introduction {
    display: flex;
    justify-content: space-between;
    padding: 0 108px;
}
.introductionInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}
.buttonStyle {
    border-radius: 10px;
    padding: 8px 24px;
    background-color: #032340;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.buttonStyle button {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}
/* p {
    color: #606060;
} */
h2 {
    color: #021526;
}
h1 , .off , .contactInfo {
    color: #FA541C;
}
.price {
    font-size: 14px;
}
.size {
    font-size: 12px;
}
.popularProductsItems {
    color: #FFFFFF;
}
.hero {
    width: 422px;
    height: 475px;
}

.introductionLeft {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}
.achievements {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.background {
    width: 100vw;
    margin-top: -150px;
    z-index: -1;
}
.newProducts {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
}
.newProductsItems {
    background-size: cover;
    width: 392px;
    height: 384px;
    display: flex;
    align-items: end;
    border-radius: 16px;
    overflow: hidden; 
}
.newProductsItems1 {
    background-image: url("./assets/women clothes.png");
}
.newProductsItems2 {
    background-image: url("./assets/women clothes 2.png");
}
.newProductsItems div {
    background-color: #021526;
    height: 136px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-right: 16px;
    gap: 16px;
}
.newProductsItemsShowMore {
    width: 392px;
    height: 384px;
    display: flex;
    align-items: start;
    justify-content: end;
    overflow: hidden;
    flex-direction: column;
    gap: 16px;
}
.newProductsItemsShowMore p {
    width: 309px;
}
.newProductsButton {
    background-color: #FA541C;
}
.baner {
    width: 100vw;
    height: 600px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: right;
}
.fitnessBaner {
    background-image: url("../styles/assets/baner.jpg");
}
.fitnessBanerText , .bikeBanerText{
    padding-right: 250px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: start;
    color: #01070D;
}
.newsBaner {
    align-items: start;
}
.newsBanerText {
color: white;
padding-right: 420px;
padding-top: 80px;
width: 809px;
}
.newsBanerText h3 {
    font-size: 32px;
    font-weight: 400;
}
.newsBanerText h6 {
    font-size: 24px;
    font-weight: 400;
}
.offSalesSection , .shoesSection , .specialoffsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.salesContainer, .shoesContainer , .bikeSaleContainer , .popularProductsContainer {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

.shoesButton , .offsalesbutton , .specialOffButton , .newsSecionButton {
    background-color: transparent;
    align-self: flex-end;
}
.shoesButton button , .offsalesbutton button , .specialOffButton button {
    color: #032340;
}
.sales , .shoes , .bikeSales , .popularProducts {
    background-size: contain;
    width: 366px;
    height: 467px;
    display: flex;
    align-items: end;
    border-radius: 16px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top;
}
.sales {
    position: relative;
}
.salesOffAmount {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 100%;
}
.salesOffAmount5 {
    
    background-color: #67AAE6;
    color: #032340;
    border-radius: 100%;
   
}
.salesOffAmount4 {
    background-color: #FF991F;
    color: black;
  

}
.bikeSales {
    flex-direction: column;
    position: relative;
}
.salesDiv , .shoesDiv , .bikeSalesDiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #F9F9F9;
    width: 100%;
    height: 187px;
    padding: 16px;
}
.shoes {
    position: relative;
}
.popularProducts div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding:32px 16px;
    background-color: #021526;
    width: 100%;
    color: white;
}
.sales1 {
    background-image: url("../styles/assets/women\ clothes\ 3.png");
    position: relative;
}
.salesOffAmount1 {
    border-radius: 100%;
    background-color: #FA541C;
    color: #FFFFFF;
  
}
.salesOffAmount2 {
    background-color: #032340;
    color: #FFFFFF;

}
.salesOffAmount3 {
    background-color: #FA541C;
    color: #FFFFFF;
    left: 50px;
}

.sales2 {
    background-image: url("../styles/assets/women\ clothes\ 4.png");
}
.sales3 {
   background-image: url("../styles/assets/green\ nike.png");
    background-position: center -40px;
}
.shoes1 {
    background-image: url("../styles/assets/green\ nike.png");
    background-position: center -40px;
}
.shoes2 {
    background-image: url("../styles/assets/green\ nike.png");
    background-position: center -40px;
}
.shoes3 {
    background-image: url("../styles/assets/green\ nike.png");
}
.bikeBaner {
    background-image: url("../styles/assets/bike\ baner.jpg");
}
.bikeSales1 {
    background-image: url("../styles/assets/woman\ riding\ a\ bike.jpg");
    width: 366px;
    height: 280px;
    background-size: cover;
}
.bikeSales2 {
    background-image: url("../styles/assets/woman\ riding\ a\ bike.jpg");
    width: 366px;
    height: 280px;
    background-size: cover;
}
.bikeSales3 {
    background-image: url("../styles/assets/woman\ riding\ a\ bike.jpg");
    width: 366px;
    height: 280px;
    background-size: cover;
}
.popularProducts1 {
    background-image: url("../styles/assets/similarProduct1.png");
}
.popularProducts2 {
    background-image: url("../styles/assets/women\ clothes\ 2.png");
}
.popularProductsText {
    width: 392px;
    display: flex;
    align-items: start;
    justify-content: end;
    overflow: hidden;
    flex-direction: column;
    gap: 16px;
}
.popularProductsText p{
    width: 309px;
}
.popularProductsButton , .newsSectionButton , .footerSubmitButton {
    background-color: #FA541C;
    width: 309px;
}
.footerSubmitButton {
    width: 50px;
    height: 24px;
    border-radius: 4px;
}
.footerSubmitInput {
    height: 24px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #868686;
    padding-right: 4px;
}
.newsSectionButton {
    width: 163px;
}
.newsSecionButton button {
    font-size: 16px;
}
.newsSectionInfo {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    gap: 16px;
}
.newsBaner {
    background-image: url("../styles/assets/camping\ baner.png");
    padding: 0;
}
.sportNewsImage1 {
    background-image: url("../styles/assets/football\ player\ 1.jpg");
    background-position: center;
    background-size: cover;
    width: 564px;
    height: 307px;
}
.sportNewsImage2 {
    background-image: url("../styles/assets/football\ player\ 2.png");
    background-position: center;
    background-size: cover;
    width: 564px;
    height: 307px;
}
.newsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.newsSections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.newsSection {
    width: 564px;
    border-radius: 16px;
    overflow: hidden;
}

.newsSections img {
    width: 564px;
    height: 307px;
}
.experienceSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #f4faff;
    gap: 16px;
    padding: 24px 0;
}

.experienceSection div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}
.experienceSection p {
    width: 358px;
    font-size: 24px;
    font-weight: 700;
    color: #032340;
}
.experienceSection img {
    width: 167px;
    height: 172px;
}
footer {
    background-color: #021526;
    color: #F9F9F9;
    font-size: 14px;
    width: 100vw;
}
footer img {
    cursor: pointer;
}
.footerText {
    color: #F9F9F9;
    font-size: 14px;
}
.footerTextAbout {
    font-size: 12px;
}
.footerInfo {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    padding: 72px 108px;
}
.footerInfoRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footerInfoRight div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footerInfoRight ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 16px;
}
.footerInfoLeft {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footerInfoDown {
    display: flex;
    justify-content: space-between;
    padding: 36px 108px;
}
.footerIndoDesc {
    display: flex;
    flex-direction: column;
    width: 650px;
}
.footerIcons {
    display: flex;
    gap: 32px;
}
.footerSubmit {
    border: solid 1px #868686;
    border-radius: 8px;
    padding: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footerInfoLogosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}
.footerInfoLogosContainer img {
    width: 67px;
    height: 80px;
}
.footerInfoLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.footerCopyrightSection {
    display: flex;
    justify-content: space-between;
    border-top: 1px #CBCBCB solid;
    padding: 8px 108px;
}
.footerCopyrightSection div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.circles {
    display: flex;
}
.circle {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: black;
    margin-right: -5px;
}
.circle1 {
    background-color: #000306;
    z-index: 3;
}
.circle2 {
    background-color: #CBCBCB;
    z-index: 2;
}
.circle3 {
    background-color: #01070D;
}
.humburgerMenu {
    display: none;
}
.showMore {
    display: none;
}
.footerResponsive {
    display: none;
}


/* Responsive Section */

@media only screen and (max-width: 500px) {
    .logo {
        width: 70px;
        height: 16px;
    }
    .logoInfo {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 12px;
    }
    .logoInfo p , .introductionLeft , .headerLeft , .mainMenuBar , .background , .newProductsItemsShowMore , .sales3 , .shoes3 , .bikeSalesthird , .popularProductsText , .newsSection2 , .fitnessButton{
        display: none;
    }
    .headerInfo {
        flex-direction: column;
    }
        header {
        padding: 0 24px;
    }
    .headerSearch {
        width: 100%;
    }
    .humburgerMenu {
        display: flex;
    }
    .introductionInfo p {
        font-size: 10px;
        line-height: 2;
    }
    .introduction {
        padding: 0 24px;
        position: relative;
    }
    .introductionInfo h2 {
        font-size: 18px;
    }
    .introductionInfo h1 {
        font-size: 18px;
    }
    .h2 {
        font-size: 14px;
        font-weight: 400;
    }


    .hero {
        width: 130px;
        height: 149px;
        position: absolute;
        left: 0;
    }
    .newProductsItems div {
        height: 60px;
        gap: 4px;
    }
    .popularProductsItems {
        font-size: 10px;
    }
    .newProductsItems{
        width: 163px;
        height: 225px;
    }
    .newProducts{
        gap:16px
    }
    .fitnessBaner {
        height: 175px;
    }
    .baner {
        font-size: 10px;
    }
    .fitnessBanerText, .bikeBanerText {
        padding-right: 25px;
        padding-bottom: 25px;
    }
    .sales , .shoes {
        width: 163px;
        height: 467px;
        background-size: cover;
    }
    .salesContainer ,.shoesContainer , .bikeSaleContainer , .popularProductsContainer {
        gap: 12px;
    }
    .buttonStyle {
        display: none;
    }
    .bikeBaner {
        height: 175px;
    }
    .bikeSales1 , .bikeSales2 {
        width: 163px;
        height: 280px;
    }
    .bikeSalesDiv , .bikeSales {
        width: 163px;
    }
    .popularProducts {
        width: 163px;
        height: 225px;
    }
    .popularProducts div {
        height: 60px;
        padding: 16px 8px;
        gap: 4px
    }
    .newsBaner {
        height: 175px;
    }
    .newsBanerText {
        padding-right: 20px;
        padding-top: 20px;
    }
    .newsBanerText h3 {
        font-size: 12px;
    }
    .newsBanerText h6 {
        font-size: 8px;
    }
    .sportNewsImage1 {
        width: 342px;
        height: 307px;
        border-top-right-radius: 16px;
    }
    .newsSectionInfo , .newsSection{
        width: 342px;
    }
    .newsSectionButton {
        display: flex;
    }
    .experienceSection {
        flex-direction: column;
        font-size: 14px;
        text-align: center;
    }
    .experienceSection img {
        width: 72px;
        height: 69px;
    }
    .footerResponsive {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .footerResponsive div {
        display: flex;
        justify-content: space-between;
        border-bottom: #194165 solid 1px;
        width: 90%;
        padding:12px 24px;

    }
    .footerInfoRight {
        display: none;
    }
    .footerCopyrightSection ,.footerInfoDown {
        flex-direction: column;
        padding:12px 24px;
    }
    .footerCopyrightSection div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footerSubmitButton {
        display: flex;
    }
    .footerInfo {
        padding: 24px;
        justify-content: center;
    }
    .footerIndoDesc {
        width: 312px;
    }
    .showMore {
        display: flex;
        text-decoration: underline;
        padding: 8px 0;
    }
}