
.filterSection {
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 408px;
    gap: 30px;
   
}
.filterSection p , img {
    font-size: 16px;
    font-weight: 400;
    color: #000306;
    cursor: pointer;
}
.priceFilters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filters {
    display: flex;
   justify-content: space-between;
   
}
.filterOption{
    display: flex;
    justify-content: space-between;

}
.options {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 25px;
}
.container {
    display: flex;
    align-items: start;
    gap: 20px;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid #CBCBCB;
    border-radius: 16px;
    padding: 16px 18px;
}
.filters {
    display: flex;
}
.noFilter {
    color: #868686;
    cursor: pointer;
}
.map {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.rightMap {
    display: flex;
    gap: 16px;
    cursor: pointer;

}
.mapSelected {
    border-bottom: #FA541C solid 2px;
    color: #FA541C;

}


li {
    list-style: none;
}
.itemsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.items {
    width: 288px;
    height: 430px;
    background-size: cover;
    display: flex;
    align-items: end;
    border-radius: 16px;
    overflow: hidden;
    flex-direction: column;
    justify-content: end;
}
.itemsInfo {
    height: 132px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding: 8px;
    background-color: #F9F9F9;
}
.item1 {
    background-image: url("../styles/assets/women\ tshirt10.png");
}
.item2 {
    background-image: url("../styles/assets/women\ tshirt11.png");
}
.item3 {
    background-image: url("../styles/assets/women\ tshirt12.png");
    flex-direction: column;
    justify-content: end;
}
.sizeOptions {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    background-color: #cbcbcb;
    width: 100%;
    padding: 16px 28px;
    justify-content: end;
    opacity: 0;
    transition: .3s all ease;
}
.sizeOptions:hover {
    opacity: 1;
}

.sizeOptions button {
    width: 40px;
    height: 41px;
    font-size: 16px;
    border: none;
}
.item4 {
    background-image: url("../styles/assets/women\ tshirt1.png");
}
.item5 {
    background-image: url("../styles/assets/women\ tshirt2.png");
}
.item6 {
    background-image: url("../styles/assets/women\ tshirt3.png");
}
.item7 {
    background-image: url("../styles/assets/women\ tshirt4.png");
}
.item8{
    background-image: url("../styles/assets/women\ tshirt5.png");
}
.item9 {
    background-image: url("../styles/assets/women\ tshirt6.png");
}
.item10 {
    background-image: url("../styles/assets/women\ tshirt7.png");
}
.item11 {
    background-image: url("../styles/assets/women\ tshirt8.png");
}
.item12 {
    background-image: url("../styles/assets/women\ tshirt9.png");
}
.itemDescription {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.colorOptions {
    display: flex;
}
.colorOption {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: black;
    margin-right: -5px;
    cursor: pointer;
}
.colorOptionGreen {
    background-color: #334B4F;
    z-index: 3;
}
.colorOptionBrown {
    background-color: #515549;
    z-index: 2;
}
.colorOptionRed {
    background-color: #F00000;
}
.colorOptionSilver {
    background-color: #737989;
    z-index: 3;
}
.colorOptionKhaki {
    background-color: #716C59;
    z-index: 2;
}
.colorOptionPink {
    background-color: #FE9AA0;
}
.colorOptionIndianRed {
    background-color: #925253;
    z-index: 3;
}
.colorOptionPink {
    background-color: #FE9AA0;
}
.colorOptionWhite {
    background-color: #F2F2F2;
    z-index: 3;
}
.colorOptionLightGreen {
    background-color: #B9C28F;
    z-index: 3;
}
.colorOptionSeashell {
    background-color: #E7CBDD;
    z-index: 3;
}
.colorOptionNavy {
    background-color: #032340;
}
.colorOptionBlack {
    border-color: #303032;
    z-index: 3;
}
.colorOptionCyan {
    background-color: #68D1B6;
    z-index: 2;
}
.colorOptionBrightRed {
    background-color: #E53935;
}
.colorOptionBerry {
    background-color: #733C5E;
    z-index: 3;
}
.colorOptionSlate {
    background-color: #3A5152;
}
.colorOptionMocha {
    background-color: #8B7767;
    z-index: 3;
}
.colorOptionBurgundi {
    background-color: #7D081E;
    z-index: 2;
}
.colorOptionPistachio {
    background-color: #7F9893;
    z-index: 3;
}
.colorOptionPastel{
    background-color: #AD96C6;
}
.colorOptionOrange {
    background-color: #F15827;
    z-index: 2;
}

.pageNumber {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
 
}
.pageNumber span {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.pageNumber span:hover {
    background: #010A13;
    border-radius: 8px;
    color: #FFFFFF;
}
@media only screen and (max-width: 500px) {
    .right , .map , .sizeOptions ,.pageNumber {
        display: none;
    }
    .itemsContainer {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .items {
        width: 312px;
        height: 134px;
        font-size: 12px;
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .itemsInfo {
        width: 193px;
        padding-right: 20px;
    }
}
