.productDetailsPageContainer {
    width: 100%;
}

.up {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 592px;
    gap: 16px;
}
.littleImages {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.littleImages img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}
.littleImages div {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    border: 1px solid #CBCBCB;
}

.productInfoContainer {
    width: 592px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.productInfoContainerFirst {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.productTitleContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.productMainPrice {
    display: flex;
    align-items: center;
    gap:40px
}
.productMainPrice span {
    padding: 8px 16px;
    background-color: #FA541C;
    color: white;
    border-radius: 8px;
}
.productSizeContainer , .productColorSection {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.productSizeTitle {
    display: flex;
    align-items: center;
}
.productSizes {
    display: flex;
    flex-wrap: wrap;
    width: 252px;
    gap: 8px;
}
.productSizes span {
    width: 78px;
    height: 24px;
    border-radius: 4px;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productColorsContainer {
    display: flex;
    gap: 16px;
}
.productColor {
    display: flex;
    padding: 4px;
    border-radius: 4px;
    align-items: center;
    gap: 4px;
}
.colorSelected {
    background-color: #EDEDED;
}
.khakiColor {
    width: 24px;
    height: 24px;
    background-color: #C4A97C;
    border-radius: 100%;
}
.yellowColor {
    width: 24px;
    height: 24px;
    background-color: #FFB300;
    border-radius: 100%;
}
.purpleColor {
    width: 24px;
    height: 24px;
    background-color: #541A47;
    border-radius: 100%;
}

.productAmount {
    display: flex;
    gap: 24px;
    align-items: center;

}
.productAmountbuttons {
    width: 101px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #FA541C;
    border-radius: 8px;
    color: #FA541C;
}
.productAmount button {
    width: 341px;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: #FA541C;
    border: none;
    color: white;
    border-radius: 8px;
}

.down {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    padding: 0 108px;
}
.downTitles {
    display: flex;
    justify-content: start;
    gap: 8px;
    color: #194165;
}
.downTitles p {
    padding: 6px 10px;
}
.downTitles p:first-child {
    background-color: #CFE8FF;
    border-radius: 8px;
}
.downAttributes {
    border-radius: 8px;
    border: 1px solid #CBCBCB;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 16px;
}
.downAttributes div {
    display: flex;
    justify-content: start;
    gap: 106px;
    border-bottom: 1px solid #CBCBCB;
    padding: 0 16px 16px;
}
.downAttributes div ul:first-child {
    width: 100px;
}
.downAttributes div:last-child {
    border-bottom: none;
}
.downDescribtion {
    padding: 32px;
    border: 1px solid #CBCBCB;
    border-radius: 8px;
}
.downReviewSection {
    display: flex;
    gap: 25px;
}
.downReviewsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 806px;
}
.downReview {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #CBCBCB;
    border-radius: 8px;
    padding: 8px 0 24px;
}
.downReviewInfo {
    padding: 0 16px;
}
.downReviewInfoName {
    display: flex;
    gap: 21px;
    align-items: center;
}
.review {
    padding-right: 105px;
}

.reviewInputContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.reviewInputContainer h3 {
    padding: 8px 0 8px 8px;
    border-bottom: 1px solid #D9D9D9;
}
.reviewInputContainer p {
    padding: 12px 0;
}
.reviewInputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.reviewInputs div {
    display: flex;
    flex-direction: column;
}
.reviewInputs div input {
    width: 100%;
    border: 1px solid #ADADAD;
    border-radius: 8px;
    height: 47px;
    width: 392px;
}
#review {
    height: 108px;
}
.submitReview {
    padding: 8px 32px;
    border: 2px solid #FA541C;
    border-radius: 8px;
    color: #FA541C;
    background-color: #fff;
}
.similarProductsSection {
    width: 100%;
    padding: 0 108px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.similarProductsContainer {
    display: flex;
    gap: 24px;
}
.similarProductTitle {
    display: flex;
    justify-content: space-between;
    padding:8px 16px 8px 0
}
.similarProductPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:8px 16px 8px 0;
    gap: 8px;
}

@media only screen and (max-width: 500px) {
    .up {
        flex-direction: column;
        align-items: center;
    }
    .imageContainer > img {
        width: 313px;
    }
    .littleImages , .downReview img , .experienceSection{
        display: none
    }
    .downAttributes li {
        font-size: 14px;
    }
    .productInfoContainer , .downAttributes , .downReview ,.reviewInputs div input    {
        width: 313px;
    }
    .productAmount , .downReviewSection {
        flex-direction: column;
        align-items: start;
    }
    .similarProduct img {
        width: 148px;
        height: 133px;
    }
    .similarProductOnPhone {
        display: none;
    }
}